#common conf
[common]
home=/usr/local/apn-proxy/bin
listen=127.0.0.1:16688
conn_connect_milli_second=1000
check_milli_second=10
inner_channel_num=1000
partition=1
[mysql]
server=10.75.1.67
port=3306
user=dproxy
passwd=dproxy
db=dproxy
